<section class="stack" id="stack">
  <div class="stack__inner">
    <div class="stack__header">
      <h2 class="stack__title">Stack Técnico</h2>
      <span class="stack__subtitle">HERRAMIENTAS &amp; TECNOLOGÍAS</span>
    </div>
    <div class="stack__divider"></div>
    <div class="stack__grid">
      <div class="stack__category" *ngFor="let cat of categories">
        <div class="stack__category-header">
          <span class="stack__icon">{{ cat.icon }}</span>
          <h3>{{ cat.category }}</h3>
        </div>
        <div class="stack__tags">
          <span class="tag" *ngFor="let item of cat.items">{{ item }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
